<div 
  class="home-background"
  [ngStyle]="{ 
    'background-image': 'url(../assets/images/background.jpg)', 
    'background-size': 'cover', 
    'background-position': 'center', 
    'height': '100vh' 
  }">
</div>


<div class="content-wrapper">
    <img src="../assets/images/biografia.png" class="overlay-image" alt="Tomás Jerez">
  
  
    <div class="text-box">
     
      <p *ngFor="let paragraph of 'BIOGRAFIA_CONTENIDO' | translate">{{ paragraph }}</p>
      <!--  <p>
          Tomás Jerez Munera es uno de los saxofonistas españoles más destacados de su generación. Su trayectoria artística, jalonada por premios y reconocimientos internacionales, lo ha consolidado como un intérprete de referencia en el panorama internacional.</p>

        <p>Formado en el Real Conservatorio Superior de Música de Madrid, donde obtuvo el Premio de Honor de Saxofón Fin de Carrera en 1997, su carrera ha estado marcada por el éxito desde sus inicios. Fue galardonado con el 1º Premio en el IV Concurso Internacional de Saxofón de Benidorm y seleccionado como solista por la prestigiosa European Union Youth Wind Orchestra (EUYWO) en 2003.
        </p>
        <p>A lo largo de su trayectoria, ha ofrecido conciertos y recitales en importantes salas de toda Europa, participando en festivales internacionales de gran renombre, como el Andorra SaxFest (Andorra), el Festival Internacional de Saxofón de Sczecin (Polonia), el Festival Internacional Adolphe Sax en París (Francia), Ciclos de Conciertos de Música Contemporánea – Fundación BBVA, 
          X Ciclo de Música Actual de Badajoz –apoyado por el INAEM y el Centro Nacional de Difusión Musical– y Sociedad de Conciertos de Alicante, etc. Como integrante del cuarteto Folium Fugit, ha llevado su pasión por el saxofón a escenarios de primer nivel, interpretando repertorios que abarcan desde la música contemporánea hasta la música antigua.</p>
        <p>Además de su faceta interpretativa, Tomás Jerez ha sido jurado en prestigiosos concursos internacionales, destacando su participación en el Conservatorio Nacional Superior de Música y Danza de París (CNSMDP), donde, hasta la fecha, es el único saxofonista español invitado a evaluar los premios Fin de Máster.</p>
        <p>Su versatilidad lo ha llevado a colaborar con diversas formaciones sinfónicas y de cámara, como la Orquesta Sinfónica de la Comunidad de Madrid, la Orquesta de Cámara Andrés Segovia y la ORTVE, realizando grabaciones para RNE, el Ballet Nacional de España y el sello RTVE Música. Como artista discográfico, ha publicado dos trabajos con el sello Adora New Music: AXIS, 
          junto a su cuarteto de saxofones, y DELTA, su más reciente álbum en colaboración con el pianista Manuel Corbacho.</p>
        <p>En el ámbito pedagógico, ha sido profesor en Musikene (Centro Superior de Música del País Vasco) y en el Conservatorio Superior de Castilla-La Mancha, formando a nuevas generaciones de saxofonistas. Desde 2017, es embajador de la prestigiosa marca de instrumentos Henri Selmer Paris, y desde 1994 es Profesor de la Banda Sinfónica Municipal de Albacete.
        </p>
        <p>Con una sólida carrera como solista, docente y jurado internacional, Tomás Jerez Munera continúa siendo una referencia imprescindible en el mundo del saxofón.</p>-->
    </div>
   

</div>