<div 
  class="home-background"
  [ngStyle]="{ 
    'background-image': 'url(../assets/images/background.jpg)', 
    'background-size': 'cover', 
    'background-repeat': 'no-repeat', 
    'background-position': 'center', 
    'height': '100vh' 
  }" 
>
</div>
<div class="content-wrapper">
    <img src="../assets/images/biografia.png" class="overlay-image" alt="Tomás Jerez">
</div>

<div class="text-box">
    <h2>Título del Texto</h2>
    <p>
      Aquí va el texto de la biografía. Este cuadro de texto se adaptará 
      según el tamaño de la pantalla para garantizar una buena experiencia de usuario.
    </p>
  </div>
    
  