.home-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(50%) blur(2px); /* Blanco y negro + difuminado */
    z-index: -1; /* Mantiene el fondo detrás */
  }
  
  /* Contenedor principal: imagen a la izquierda, texto a la derecha */
  .content-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh; /* Ocupa toda la pantalla */
   
  }
  
  /* Imagen a la izquierda */
  .overlay-image {
    width: auto; 
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    object-fit: cover; /* Asegura que la imagen se ajuste bien */
    z-index: 2; /* Encima del fondo */
  }
  
  /* Cuadro de texto */
  .text-box {
    width: 70%;
    max-height: 80vh;
    background: rgba(214, 211, 211, 0);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1);
    overflow: auto;
    color: black;
    z-index: 3;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size:1.1em;
    line-height: 2em;
  
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #888 #ccc; /* Firefox */
  }
  
  /* Personalización de la barra de desplazamiento para Webkit (Chrome, Safari, Edge) */
  .text-box::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra */
  }
  
  .text-box::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color de fondo de la pista */
    border-radius: 10px;
  }
  
  .text-box::-webkit-scrollbar-thumb {
    background: #888; /* Color del pulgar */
    border-radius: 10px;
  }
  
  .text-box::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color del pulgar cuando se pasa el mouse */
  }
  
  /* Estilos Responsivos */
  @media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
        text-align: center;
        height: auto;
    }
  
    .overlay-image {
        width: 100%;
        height: auto;
        max-height: 400px;
    }
  
    .text-box {
        width: 90%;
        margin-top: 20px;
    }
  }