
<div 
  class="home-background"
  [ngStyle]="{ 
    'background-image': 'url(../assets/images/background.jpg)', 
    'background-size': 'cover', 
    'background-repeat': 'no-repeat', 
    'background-position': 'center', 
    'height': '100vh' 
  }">
</div>


<div class="content-wrapper">
    <img src="../assets/images/biografia.png" class="overlay-image" alt="Tomás Jerez">

  
    <div class="text-box">
       
        <p>
          Tomás Jerez Munera obtiene el Premio de Honor de Saxofón Fin de Carrera en el Real Conservatorio Superior de Música de Madrid.</p>

          <p>A partir de ese momento, perfecciona sus estudios con los profesores Claude Delangle, Serge Bichon, J.M Londeix, Eric Devallon y Philippe Braquart.</p>
          
        <p> Fue Galardonado con el Primer Premio en el IV Concurso Internacional de Saxofón "Villa de Benidorm" en 2002 y seleccionado en 2003 por la European Union Youth Wind Orchestra –EUYWO– para realizar una gira de conciertos por Alemania, Francia, Holanda, Bélgica y Luxemburgo.</p>
          
        <p>Como solista, ofrece regularmente conciertos y recitales en multitud de Festivales Internacionales: <i>Andorra SaxFest</i>, <i>Festival Internacional de Saxofón de Teror (Gran Canaria)</i>, <i>X Ciclo de Música Actual de Badajoz</i> –apoyado por el INAEM y el Centro Nacional de Difusión Musical–, <i>X Ciclo de Conciertos de Música Contemporánea Fundación BBVA</i>, <i>Festival Internacional de Música de Palma</i>, <i>Festival Internacional de Saxofón de Sczecin (Polonia)</i>, <i>IX Festival Internacional de Música Antigua de Gijón</i>, <i>V Congreso Iberoamericano de Compositores, Directores y Arregladores de Bandas Sinfónicas y Ensembles</i>, <i>Festival Internacional de Saxofón de Palmela 2012-2016 (Portugal)</i>, <i>Academia Internacional de Saxofón (Oporto-Portugal)</i>, <i>XI Encuentros Musicales de Capvern (Francia)</i>, o los <i>Congresos Mundiales de Saxofón de Montreal (Canadá) y las Palmas de Gran Canaria</i>.
          
        <p>Imparte regularmente clases magistrales por todo el país, Portugal, y en las universidades Francisco de Vitoria, Universidad Internacional Menéndez Pelayo y Universidad de Castilla-La Mancha.</p>
          
        <p>Ha formado parte del jurado internacional en el CSMD de Poitiers (Francia) en los premios Fin de Carrera de violín y saxofón y ha tenido el inmenso privilegio de ser el primer saxofonista español invitado a formar parte del jurado de los premios Fin de Máster de Saxofón del CNSMDP – Conservatorio Nacional Superior de Música y Danza de París–.</p>
          
        <p>Ha colaborado con la Orquesta Sinfónica de la Comunidad de Madrid, Orquesta de Cámara Andrés Segovia y ORTVE, con las que ha realizado grabaciones para RNE, Ballet Nacional de España y el sello “RTVE Música”.</p>
          
        <p>Entre 2007-2014 fue profesor de Saxofón en el Centro Superior de Música del País Vasco (Musikene), profesor de Saxofón en el Conservatorio Superior de Música de Castilla-La Mancha entre 2018 y 2022 y solista de la Banda Sinfónica Municipal de Albacete desde 1994.</p>
          
        <p>Es embajador de la marca francesa de instrumentos Henri Selmer Paris.
        </p>
    </div>
</div>