.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom,rgb(35, 35, 35), rgba(0, 0, 0, 0.5)) !important;
    border-bottom: grey 1px solid;
    padding: 1rem;
    z-index: 1000; /* Asegura que esté encima de otros elementos */ 
    font-optical-sizing: auto;
    }
  
  .navbar, .navbar-nav .nav-link {
    font-family: 'Rubik', serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style:normal;
    padding-right: 30px;
    padding-left:15px;
    color: white !important;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
   
   
  }
  
  /* Cambio de color en hover */
  .navbar-nav .nav-link:hover {
    color: #f0bbeb !important;
  }

  
  
  /* Ajuste del nombre */
  .nombre-container {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: bold;
  }
  
  