<div 
  class="home-background"
  [ngStyle]="{ 
    'background-image': 'url(../assets/images/background_calendar.jpg)', 
    'background-size': 'cover', 
    'background-repeat': 'no-repeat', 
    'background-position': 'center', 
    'height': '100vh' 
  }">
</div>
<div class="content-wrapper">
   
  
  <div class="text-box" #textBox>
    <h1>PRÓXIMOS CONCIERTOS</h1>

    <div class="bottom-box">
      <p>{{ 'AGENDA.EVENTO_1.FECHA' | translate }}</p>
      <p>{{ 'AGENDA.EVENTO_1.CONCIERTO' | translate }}</p>
      <p><a href='https://sociedadconciertosalicante.com/agenda-2/' target='_blank'>{{ 'AGENDA.EVENTO_1.LUGAR' | translate }}</a></p>
      <p>{{ 'AGENDA.EVENTO_1.HORA' | translate }}</p>
      <p>{{ 'AGENDA.EVENTO_1.CIUDAD' | translate }}</p>
    </div>
    
    <div class="bottom-box">
      <p>{{ 'AGENDA.EVENTO_2.FECHA' | translate }}</p>
      <p>{{ 'AGENDA.EVENTO_2.CONCIERTO' | translate }}</p>
      <p>{{ 'AGENDA.EVENTO_2.LUGAR' | translate }}</p>
      <p>{{ 'AGENDA.EVENTO_2.HORA' | translate }}</p>
    
    </div>

    <div class="bottom-box">
      <p>{{ 'AGENDA.EVENTO_3.FECHA' | translate }}</p>
      <p>{{ 'AGENDA.EVENTO_3.CONCIERTO' | translate }}</p>
      <p>{{ 'AGENDA.EVENTO_3.LUGAR' | translate }}</p>
      <p>{{ 'AGENDA.EVENTO_3.HORA' | translate }}</p>
      <p>{{ 'AGENDA.EVENTO_3.CIUDAD' | translate }}</p>
    </div>
    
    <div class="bottom-box">
      <p>{{ 'AGENDA.EVENTO_4.FECHA' | translate }}</p>
     <p><a href='https://www.andorrasaxfest.com/masterclass?lang=es' target='_blank'>{{ 'AGENDA.EVENTO_4.CONCIERTO' | translate }}</a></p>
     <p>{{ 'AGENDA.EVENTO_4.CIUDAD' | translate }}</p>
    </div>

    <div class="bottom-box">
      <p>{{ 'AGENDA.EVENTO_5.FECHA' | translate }}</p>
      <p>{{ 'AGENDA.EVENTO_5.CONCIERTO' | translate }}</p>
      <p><a href='https://instrumentomania.com/content/30-eventosyreservas' target="_blank">{{'AGENDA.EVENTO_5.LUGAR' | translate }}</a></p>
      <p>{{ 'AGENDA.EVENTO_5.CIUDAD' | translate }}</p>
    </div>


    <div class="bottom-box">
      <p>{{ 'AGENDA.EVENTO_6.FECHA' | translate }}</p>
      <p>{{ 'AGENDA.EVENTO_6.CONCIERTO' | translate }}</p>
      <p>{{ 'AGENDA.EVENTO_6.LUGAR' | translate }}</p>
      <p>{{ 'AGENDA.EVENTO_6.CIUDAD' | translate }}</p>
    </div>


    <div class="bottom-box">
      <p>{{ 'AGENDA.EVENTO_7.FECHA' | translate }}</p>
      <p>{{ 'AGENDA.EVENTO_7.CONCIERTO' | translate }}</p>
      <p><a href='https://concursodecamaraantongarciaabril.com/' target="_blank">{{ 'AGENDA.EVENTO_7.LUGAR' | translate }}</a></p>
      <p>{{ 'AGENDA.EVENTO_7.CIUDAD' | translate }}</p>
    </div>
    