<div 
  class="home-background"
  [ngStyle]="{ 
    'background-image': 'url(../assets/images/background_calendar.jpg)', 
    'background-size': 'cover', 
    'background-repeat': 'no-repeat', 
    'background-position': 'center', 
    'height': '100vh' 
  }">
</div>
<div class="content-wrapper">
   
  
  <div class="text-box" #textBox>
    <p>PRÓXIMOS CONCIERTOS   |   CONCIERTOS PASADOS</p>

    <div class="bottom-box">
      <p>{{ 'AGENDA.EVENTO_1.FECHA' | translate }}</p>
      <p>{{ 'AGENDA.EVENTO_1.CONCIERTO' | translate }}</p>
      <p><a href='https://sociedadconciertosalicante.com/agenda-2/' target='_blank'>{{ 'AGENDA.EVENTO_1.LUGAR' | translate }}</a></p>
      <p>{{ 'AGENDA.EVENTO_1.HORA' | translate }}</p>
      <p>{{ 'AGENDA.EVENTO_1.CIUDAD' | translate }}</p>
    </div>
    
    <div class="bottom-box">
      <p>{{ 'AGENDA.EVENTO_2.FECHA' | translate }}</p>
      <p>{{ 'AGENDA.EVENTO_2.CONCIERTO' | translate }}</p>
      <p>{{ 'AGENDA.EVENTO_2.LUGAR' | translate }}</p>
      <p>{{ 'AGENDA.EVENTO_2.HORA' | translate }}</p>
      <p>{{ 'AGENDA.EVENTO_2.CIUDAD' | translate }}</p>
    </div>
    