/* ---------------------------
   Estilos para el Footer
--------------------------- */
.footer {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)) !important;
  color: white;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

/*  Contenedor del Footer */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/*  Distribuci贸n del contenido en el footer */
.footer-content {
  display: flex;
  align-items: center; /*  Mantiene alineaci贸n vertical */
  width: 100%;
  
}

/*  Texto de Derechos Reservados */
.footer-text {
  font-size: 0.8rem;
  color: white;
  text-align: right; /*  Asegura que el texto se alinee a la derecha */
  padding-right: 0px;
}
a{
  color: pink;
  text-decoration: none;
}
:hover{
  color:aliceblue;
}


/* ---------------------------
   Responsivo: Ajustes en Pantallas Peque帽as
--------------------------- */
@media screen and (max-width: 768px) {
    .footer-content {
        flex-direction: row; /*  Mantiene distribuci贸n en m贸viles */
        align-items: center;
        justify-content: space-between;
    }

    .footer-text {
        margin-left: 5px;
    }

    .navbar-nav {
        margin-right: 5px;
        gap: 10px; /*  Reduce espacio entre ES EN */
    }

    .nav-link {
        font-size: 0.9rem; /*  Ajuste en m贸viles */
    }
}
