<footer class="footer">
  <div class="container">
    <div class="social-icons">
      <a href="https://www.facebook.com/tomas.jerezmunera" target="_blank"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.instagram.com/tomas_jerezmunera?igsh=aWZseDVkdDR4aTRh" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://www.youtube.com/@elfarnau" target="_blank"><i class="fab fa-youtube"></i></a>
      <a href="https://open.spotify.com/intl-es/artist/3uMeUCzizxBtZMeGUzIukc?si=mwkaDvyIQRKcCYgbcXKBSw" target="_blank"><i class="fab fa-spotify"></i></a>
    </div>
  </div>
</footer>
